<ion-view view-title="Aceptar un partido">
    <ion-content >


        <div class="item card-item" >
            <div  class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                     <i class="icon ion-ios-football"></i>  <strong>¿Canelás el partido?</strong>
                    <br/>
                    <div class="card-footer text-right">


                        <div class="pull-right">
            <button ng-click="cancelar()"  class="button button-positive">
                Cancelar el partido
            </button>
                        </div>

      

                    </div>
                </div>
            </div>
        </div>



    </ion-content>
</ion-view>
