<ion-view class="fondo-mispartidos"view-title="Crear Partido">


    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

    <form name="myForm" class="alineacion-form"novalidate>
  <div class="list">
    <label class="item item-input item-stacked-label" style="">
      <span class="input-label texto-label">Nombre del Partido</span>
      <input type="text" style="color:white;border-bottom: 2px solid white; width: 97%;" class="negro" name="titulo" placeholder="Nombre del Partido" ng-model="partidos.nombre">
    </label>
<br/>


    <label class="item item-input item-stacked-label" style="">
      <span class="input-label texto-label">Lugar</span>
      <input type="text" style="color:white;border-bottom: 2px solid white; width: 97%;" class="negro" name="titulo" placeholder="Nombre del Partido" ng-model="partidos.lugar">
    </label>
<br/>


    <label class="item item-input item-stacked-label" style="">
      <span class="input-label" style="color:rgba (0,0,0, 0.5)">Fecha</span>
      <input type="date" style="color:white;border-bottom: 2px solid white; width: 97%;" name="fecha" placeholder="fecha" ng-model="partidos.fecha">
    </label>
<br/>

    <label class="item item-input item-stacked-label" style="">
      <span class="input-label texto-label"style="color:rgba (0,0,0, 0.5);">Hora</span>
      <input type="time" style="color:white;border-bottom: 2px solid white; width: 97%;" name="hora" placeholder="fecha" ng-model="partidos.hora">
    </label>



<br/>

         <div class="padding">
          <button ng-click="doCreate()" style="    border-color: #a8b935; background-color: #a8b935; border-radius:0px; box-shadow:0 0 0; color: #fff;" class="button button-full button-assertive ink">Crear Partido</button>
        </div>
</form>



    </ion-content>

</ion-view>
