<ion-view class="img-home"view-title="Inicio">


    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="proximo-partido">
        <div style="position:absolute; bottom:10%; width:100%;">
          <div class="titulo-prox-partido"> <p style="color: white;">Próximo partido</p></div>
          <div class="texto-prox-partido"> <p style="color: white;">Jueves 25 de Agosto</p></div>
        </div>
      </div>


      <div class="caja-fuera">
          <div class="caja-home-arriba">

          </div>
          <div class="caja-home caja-home-abajo">
            <div style="width:100px;height:100px;border-radius:50%;background-color:#91a02b;position: absolute;z-index:9;top: -60px;left: 20%;"><p style="text-align:center; position:absolute;top:27%;color:white;font-size: 15px;">INVITAR JUGADORES</p> </div>
            <div style="width:100px;height:100px;border-radius:50%;background-color:#91a02b;position: absolute;z-index:9;top: -60px;right: 20%;"><p style="text-align:center; position:absolute;top:27%;color:white;font-size: 15px;">VER JUGADORES</p> </div>

            <div class="ultimo-creado" style="margin-top: 17px;margin-left: 10%;">
                <div>
                  <hr style="width: 80%;margin-left: 0%;">
                    <div style="margin-top: 2%;"><strong style="
    font-size: 18px;
">Nombre del partido </strong></div>
                    <div style="
    margin-top: 18px;
"><p>Lugar: Nombre del lugar</p></div>
                    <div><p>Fecha: 25-08-2016</p></div>
                    <div><p>Horario: 20:30 hs</p></div>
                  <hr style="width: 80%;margin-left: 0%;">
                </div>
            </div>
            <div style="margin-top:215px;">
              <div class="nuevopartido-home centro"><p style="
  text-align: center;
  margin-top: 11px;
  color: white;
  font-size: 16px;
">CREAR PARTIDO</p></div>
            </div>
          </div>
      </div>

    </ion-content>

</ion-view>
