<ion-view view-title="Invitaciones pendientes">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="tabs tabs-dark tabs-icon-top static">
          <a ui-sref="app.invitacionesaceptadas" class="tab-item">
              <i class="icon ion-thumbsup"></i> Invitaciones aceptadas
          </a>
          <a ui-sref="app.invitacionescanceladas" class="tab-item">
              <i class="icon ion-thumbsdown"></i> Invitaciones canceladas
          </a>
          <a ui-sref="app.invitacionespendientes" class="tab-item">
              <i class="icon amarillo ion-clock"></i> Invitaciones pendientes
          </a>
      </div>
            <div ng-repeat="partido in partidos" ng-model="partidos">
          <div class="card stable-bg ink ink-dark">
              <div >
                 <strong style="color:black">{{partido.nombre}}</strong>
                  <div class="card-footer text-right">


                     <div class="pull-left" style="color:black">
                          <i class="icon ion-clock"></i>  {{partido.fecha}}

                      </div>

<br/>

                      <div class="pull-left" style="color:black">
                          <i class="icon ion-clock"></i>  {{partido.hora}}

                      </div>
<br/>

                      <div class="pull-left" style="color:black">
                          <i class="icon ion-clock"></i>  {{partido.lugar}}

                      </div>

                    <div class="pull-right">
                            <a  ng-click="aceptar({{partido.id}})"><span class="avatar" style="width:30px; height:30px; background-color: #20C812;-webkit-mask-image: url(http://image005.flaticon.com/131/svg/128/128517.svg); mask-image: urlhttp://image005.flaticon.com/131/svg/128/128517.svg);    position: relative; left: -40px;  bottom: 10px;"></span></a>
                        </div>
                      <br />
                      <br />
                      
                  </div>

                                      <div class="pull-right">
                            <a ng-click="cancelar({{partido.id}})"><span class="avatar" style="width:30px; height:30px;  background-color: #B01212;-webkit-mask-image: url(http://image005.flaticon.com/131/svg/128/128531.svg); mask-image: url(http://image005.flaticon.com/131/svg/128/128531.svg);    position: relative; left: -40px;  bottom: 10px;"></span></a>
                        </div>
                      <br />

                  </div>

              </div>
          </div>

          <div ng-hide="partidos">
            
<h2>No hay invitaciones pendientes</h2>
          </div>
      </div>



    </ion-content>
</ion-view>
