<ion-view class="fondo-mispartidos"view-title="Usuarios">
  <ion-content>
  <br />
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar" ng-model="searchQuery" />
    </label>

     <ion-list ng-repeat="usuario in usuarioList | filter:searchQuery">
       
  <label class="checkbox">
     
  <input type="checkbox"  checklist-model="selected.id_u" checklist-value="usuario.id" > {{usuario.name}}

</label>


    <br/>

    </ion-list>


        <div class="padding">
          <button ng-click="doInvitar()" class="button button-full button-assertive ink">Invitar</button>
        </div>

  </ion-content>
</ion-view>
