<ion-view view-title="Login" align-title="left">
  <video autoplay loop poster="" id="videobk">

    <source type="video/mp4" src="video/video.mp4" />

     </video>

<ion-content >
      <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>

        <div class="padding">
            <button ui-sref="app.inicio" class="button button-full button-assertive ink">Iniciar Sesión</button>
            <button ui-sref="app.registrarse" class="button button-full button-positive ink" >Regístrarse</button>

        </div>

    </ion-content>

</ion-view>
