<ion-view view-title="Partidos cancelados">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="tabs tabs-dark tabs-icon-top static">
          <a ng-click="aceptados()" ui-sref="app.partidosaceptados" class="tab-item">
              <i class="icon ion-checkmark-circled"></i> Jugadores aceptados
          </a>
          <a ng-click="cancelados()" ui-sref="app.partidoscancelados" class="tab-item">
              <i class="icon rojo ion-close-circled"></i> Jugadores cancelados
          </a>
          <a ng-click="pendientes()" ui-sref="app.partidospendientes" class="tab-item">
              <i class="icon ion-help-circled"></i> Jugadores pendientes
          </a>
      </div>

  <div  ng-repeat="cancelado in cancelados">
            <div  class="card stable-bg ink ink-dark">
                  
                    <i class="icon ion-android-people"></i>  <strong style="color:black">      {{cancelado.name}}</strong>


                </div>
            </div>




    </ion-content>
</ion-view>
