<ion-view view-title="Partidos aceptados">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="tabs tabs-dark tabs-icon-top static">
          <a ng-click="aceptados()" ui-sref="app.partidosaceptados" class="tab-item">
              <i class="icon verde ion-checkmark-circled"></i> Jugadores aceptados
          </a>
          <a ng-click="cancelados()" ui-sref="app.partidoscancelados" class="tab-item">
              <i class="icon  ion-close-circled"></i> Jugadores cancelados
          </a>
          <a ng-click="pendientes()" ui-sref="app.partidospendientes" class="tab-item">
              <i class="icon ion-help-circled"></i> Jugadores pendientes
          </a>
      </div>
       

       <!-- <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="width:60px; height:60px; background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAJuAAAAJDQ1OTI0OTM0LWJjMDItNDUyYS1iNDIyLTMzZWU5ZjQyYTdjYw.jpg');"></span>
                    Aceptaste un partido de <strong>Hernan</strong>
                    <div class="card-footer text-right">

                        <div class="pull-left">
                            <i class="icon ion-clock"></i> Justo ahora
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
<div  ng-repeat="aceptado in aceptados">
            <div  class="card stable-bg ink ink-dark">
                  
                    <i class="icon ion-android-people"></i>  <strong style="color:black">      {{aceptado.name}}</strong>


                </div>
            </div>
  
        

    </ion-content>
</ion-view>
