<ion-view view-title="Partidos pendientes">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

        <div class="item card-item caja-cuadro alinear-caja-cuadro" >
            <div  class="card stable-bg cuadro-item margen-cuadro ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="" style="    background-position: center; background-size: cover; display: inline-block; height: 100%; left: 0px; top: 0; position: absolute; width: 100px; background-image: url('img/avatar.jpg');"></span>

                  <div class="alinear-partido">   <strong>{{partido.nombre}}</strong></div>
                    <br/>
                    <div class="card-footer text-right">

                      <div class="alinear-partido">
                          <br />
                        <div class="pull-left">
                            <p><font style="font-weight:500;color:black;">Lugar :</font> {{partido.lugar}}</p>
                        </div>

                      <br />
                        <div class="pull-left">
                            <p><font style="font-weight:500;color:black;">Fecha :</font> {{partido.fecha}}</p>
                        </div>

                      <br />
                        <div class="pull-left">
                            <p><font style="font-weight:500;color:black;">Horario :</font>  {{partido.hora}}</p>
                        </div>
                      </div>

<!-- eliminar partido
                        <div class="pull-right">
            <button ng-click="doDelete({{partido.id}})"  class="button button-positive">
                Eliminar partido
                </button>                        </div>

                -->

                    </div>
                </div>
            </div>
        </div>


      <div class="tabs tabs-dark tabs-icon-top static">
          <a ng-click="aceptados()" class="tab-item">
              <i class="icon ion-checkmark-circled"></i> Jugadores aceptados
          </a>
          <a ng-click="cancelados()" class="tab-item">
              <i class="icon ion-close-circled"></i> Jugadores cancelados
          </a>
          <a ng-click="pendientes()" ui-sref="app.partidospendientes" class="tab-item">
              <i class="icon amarillo ion-help-circled"></i> Jugadores pendientes
          </a>
      </div>



        <div  ng-repeat="invitado in invitados">
            <div  class="card stable-bg ink ink-dark">
                  
                    <i class="icon ion-android-people"></i>  <strong style="color:black">      {{invitado.name}}</strong>


                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
