<ion-view view-title="Partidos pendientes">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="tabs tabs-dark tabs-icon-top static">
          <a ui-sref="app.partidosaceptados" class="tab-item">
              <i class="icon ion-checkmark-circled"></i> Jugadores aceptados
          </a>
          <a ui-sref="app.partidoscancelados" class="tab-item">
              <i class="icon ion-close-circled"></i> Jugadores cancelados
          </a>
          <a ui-sref="app.partidospendientes" class="tab-item">
              <i class="icon amarillo ion-help-circled"></i> Jugadores pendientes
          </a>
      </div>



        <div  ng-repeat="invitado in invitados">
            <div  class="card stable-bg ink ink-dark">
                  
                    <i class="icon ion-android-people"></i>  <strong style="color:black">      {{invitado.name}}</strong>


                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
