<ion-view view-title="Partidos cancelados">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="tabs tabs-dark tabs-icon-top static">
          <a ui-sref="app.partidosaceptados" class="tab-item">
              <i class="icon ion-checkmark-circled"></i> Jugadores aceptados
          </a>
          <a ui-sref="app.partidoscancelados" class="tab-item">
              <i class="icon rojo ion-close-circled"></i> Jugadores cancelados
          </a>
          <a ui-sref="app.partidospendientes" class="tab-item">
              <i class="icon ion-help-circled"></i> Jugadores pendientes
          </a>
      </div>
      <div class="item card-item">
          <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
              <div class="item item-avatar item-text-wrap">
                  <span class="avatar" style="width:60px; height:60px; background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAJuAAAAJDQ1OTI0OTM0LWJjMDItNDUyYS1iNDIyLTMzZWU5ZjQyYTdjYw.jpg');"></span>
                  Aceptaste un partido de <strong>Hernan</strong>
                  <div class="card-footer text-right">

                      <div class="pull-left">
                          <i class="icon ion-clock"></i> Justo ahora
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="item card-item">
          <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
              <div class="item item-avatar item-text-wrap">
                  <span class="avatar" style="width:60px; height:60px; background-image: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10635719_10205098114478429_39078646298028063_n.jpg?oh=743ac33d702e7b0203708a9233981951&oe=568E92EB&__gda__=1449289299_46b0cb5b4d1a173ad00025f05bad2f6f');"></span>
                  Aceptaste un partido de <strong>Flecha</strong>
                  <div class="card-footer text-right">

                      <div class="pull-left">
                          <i class="icon ion-clock"></i> Justo ahora
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </ion-content>
</ion-view>
