<ion-side-menus enable-menu-with-back-views="false">
<style>
hr{
  width: 80%;
}
</style>
<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:isExpanded}"style="    transform: translate3d(0px, -1px, 0px) scale(1);" class="animate-fade-slide-in">
        <div class="list" >


                <div class="caja-perfil fondo-perfil">
            <div ui-sref="app.gallery" class="caja-avatar">

              <div class="item item-avatar item-text-wrap">
                      <img class=" centro " style="border-radius: 50%;height: 200px; max-width: 100px; width: 200px; max-height: 100px;border: solid #646466; border-width: 4px;"src="https://media.licdn.com/media/AAEAAQAAAAAAAAJuAAAAJDQ1OTI0OTM0LWJjMDItNDUyYS1iNDIyLTMzZWU5ZjQyYTdjYw.jpg">

              </div>
                <div class="item centro posicion-mail item-text-wrap">

                    <h2 class=""style="color:white; text-align:center;">{{user.name}}</h2>
                    <div class="card-footer text-right">

                        <div style="color:white;"class="">
                          <p class=""style="color:white; text-align:center;opacity:.9;"> <i  class="icon ion-email"></i> {{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="" style=" height: 250px;width: 80%;background-color: ;">
          <div class="centro" style="text-align: left;line-height:20%">
          <h4>Datos Básicos </h4><hr />
          <p>Edad: 21 años</p><br>
          <p>Pais: Argentina</p><br>
          <p>Provincia: Cordoba</p><br>
          <p>Localidad: Cordoba</p><br>
          <p>Barrio: Centro</p><br>
          <p><font style="font-weight:500;">Nombre:</font><font style="font-weight:500;">Franco Neri</font></p><br>
        </div>





        </div>


        <button ng-click="modificar=1"  class="button button-positive">
Modificar datos
</button>

         <div class="item alinear-caja-cuadro card-item" style="background:red;" ng-show="modificar">
            <div ui-sref="app.gallery" class="card stable-bg cuadro-item ink ink-dark">
                <div class="item item-avatar item-text-wrap">
             <div class="list">
            <label class="item item-input" >
              <input type="text" placeholder="Nombre" ng-model="user.name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="E-Mail" ng-model="user.email">
            </label>

          </div>
                </div>
            </div>

        </div>

        </ion-side-menus>




<button ng-click="doSave()" ng-show="modificar" class="button button-positive">
Guardar
</button>



            </div>

    </ion-content>
</ion-view>