<ion-view view-title="Registrarse" align-title="left">
  <video autoplay loop poster="" id="videobk">

    <source type="video/mp4" src="video/video.mp4" />

     </video>

 <ion-header-bar>
    <h1 class="title">Registrarse!</h1>
</ion-header-bar>

    <ion-content >

      <br/><br/><br/>


        <div class="list">
         
            
          <div class="list">
            <label class="item item-input blanco">
              <input type="text" placeholder="Nombre" ng-model="user.name">
            </label>
            
            <br />
            
            <label class="item item-input blanco">
              <input type="text" placeholder="E-Mail" ng-model="user.email">
            </label>

            <br />

            <label class="item item-input blanco"> Fecha Nacimiento: 
              <input type="date" placeholder="Fecha Nacimiento" ng-model="user.fecha">
            </label>

            <br />

            <label class="item item-input blanco">Provincia:
              <select ng-model="user.provincia">
                <option value="Córdoba">Córdoba</option>
              </select>
            </label>

            <br />

            <label class="item item-input blanco">Localidad:
              <select ng-model="user.localidad">
                <option value="Córdoba">Córdoba</option>
              </select>
            </label>

            <br />

            <label class="item item-input blanco">
              <input type="password" placeholder="Password" ng-model="user.password">
            </label>

          </div>

        </div>
        <div class="padding">
            <button  ng-click="doRegister()" class="button button-full button-positive ink">Registrarse</button>
        </div>

    </ion-content>

</ion-view>
